* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

main {
    height: 100vh;
}

.container-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* height: 500px; */
}

.item {
    width: 400px;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    border: 1px solid violet;
}

.hide {
    display: none;
}

.item img {
    width: 100%;
}
/*//////////*/
.empty-input{
    display: none;
}

.empty-input-active {
    display: inline;
}

/*////////*/
.clean-button{
    display: inline;
}

.clean-button-hide {
    display: none;
}