*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body{
    background: linear-gradient(90deg, rgba(203,136,95,1) 22%, rgba(199,134,68,1) 58%, rgba(207,135,84,1) 93%);
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
}

/*//////////////*/
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pizza-img{
    width: 500px;
    /* height: 500px; */
}

/*///////////////*/

#ID-form{
    display: flex;
    justify-content: center;
}