*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background: linear-gradient(90deg, rgba(203,136,95,1) 22%, rgba(199,134,68,1) 58%, rgba(207,135,84,1) 93%);
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* width: 100%; */
}

.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;

}

/*//////////////*/
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.pizza-img{
    width: 400px;
    box-shadow: 0 1px 12px rgba(0,0,0,0.5);
}
/*//////////////*/

.error-message{
    display: inline;
    padding: 10px;
    background-color: rgb(218, 57, 57)
}
.error-delete {
    display: none;
} 

.empty-input-ms {
    display: inline;
    background-color: blanchedalmond;
}
.empty-input-ms-delete{
    display: none;
}
/*///////////////*/

#ID-form{
    display: flex;
    justify-content: center;
}