*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background: linear-gradient(90deg, rgba(203,136,95,1) 22%, rgba(199,134,68,1) 58%, rgba(207,135,84,1) 93%);
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* width: 100%; */
}

.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(20px);
    background-color: rgba(255,255,255,0.2);
    border: 1px solid rgba(203,136,95,0.3);
    border-radius: 8px;
    box-shadow: 0 1px 12px rgba(0,0,0,0.5);
    margin: 0 auto;
}

/*//////////////*/
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.pizza-name{
    margin-bottom: 16px;
    border-bottom: 1px solid black;
}
.price{
    margin-top: 10px;
    font-weight: 600;
}
.pizza-ing{
    margin-top: 16px;
    list-style: none;
    font-weight: 600;
}

.pizza-img{
    width: 400px;
    /* height: 400px; */
    box-shadow: 0 1px 12px rgba(0,0,0,0.5);
    border-radius: 4px;
    margin: 0 8px;
}
/*//////////////*/

.error-message{
    display: inline;
    padding: 10px;
    background-color: rgb(218, 57, 57)
}
.error-delete {
    display: none;
} 

.empty-input-ms {
    display: inline;
    background-color: blanchedalmond;
}
.empty-input-ms-delete{
    display: none;
}
/*///////////////*/

#ID-form{
    display: flex;
    justify-content: center;
}

#id-input{
    border: none;
    padding: 10px;
    margin-right: 4px;
    margin-bottom: 8px;
    font-weight: 600;
}
#submit-btn{
    border: none;
    padding: 8px;
    margin-bottom: 8px;
    transition: all 0.3s;
    font-weight: 600;
}
#submit-btn:hover{
    background-color: rgb(255, 161, 21);
}